src/main/resources/wsdl.xml

<?xml version='1.0' encoding='UTF-8'?>
<?xml-stylesheet type="text/xsl" href="http://tomi.vanek.sk/xml/wsdl-viewer.xsl"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://test.jaxws.airservice/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="TestServiceService" targetNamespace="http://test.jaxws.airservice/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://test.jaxws.airservice/" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://test.jaxws.airservice/">
  <xs:element name="divide" type="tns:divide"/>
  <xs:element name="divideResponse" type="tns:divideResponse"/>
  <xs:element name="test" type="tns:test"/>
  <xs:element name="test2" type="tns:test2"/>
  <xs:element name="test2Response" type="tns:test2Response"/>
  <xs:element name="testException" type="tns:testException"/>
  <xs:element name="testExceptionResponse" type="tns:testExceptionResponse"/>
  <xs:element name="testResponse" type="tns:testResponse"/>
  <xs:complexType name="test">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
      <xs:element minOccurs="0" name="arg1" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="testResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="testException">
    <xs:sequence>
      <xs:element name="arg0" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="testExceptionResponse">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="test2">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="destination">
    <xs:sequence>
      <xs:element minOccurs="0" name="name" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="test2Response">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="divide">
    <xs:sequence>
      <xs:element name="arg0" type="xs:int"/>
      <xs:element name="arg1" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="divideResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MyException">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SOAPException" type="tns:SOAPException"/>
  <xs:complexType name="SOAPException">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" type="xs:string"/>
      <xs:element minOccurs="0" name="message" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AirserviceException" nillable="true" type="tns:MyException"/>
  <xs:element name="arg0" nillable="true" type="tns:destination"/>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="SOAPException">
    <wsdl:part element="tns:SOAPException" name="SOAPException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="testExceptionResponse">
    <wsdl:part element="tns:testExceptionResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="AirserviceFault">
    <wsdl:part element="tns:AirserviceException" name="AirserviceFault">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="test">
    <wsdl:part element="tns:test" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="test2">
<wsdl:documentation>popis ke vstupu</wsdl:documentation>
    <wsdl:part element="tns:test2" name="parameters">
    </wsdl:part>
    <wsdl:part element="tns:arg0" name="arg0">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="divideResponse">
    <wsdl:part element="tns:divideResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="test2Response">
    <wsdl:part element="tns:test2Response" name="result">
    </wsdl:part>
    <wsdl:part element="tns:arg0" name="arg0">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="divide">
    <wsdl:part element="tns:divide" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="testException">
    <wsdl:part element="tns:testException" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="testResponse">
    <wsdl:part element="tns:testResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="TestService">
    <wsdl:operation name="test">
      <wsdl:input message="tns:test" name="test">
    </wsdl:input>
      <wsdl:output message="tns:testResponse" name="testResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="testException">
      <wsdl:input message="tns:testException" name="testException">
    </wsdl:input>
      <wsdl:output message="tns:testExceptionResponse" name="testExceptionResponse">
    </wsdl:output>
      <wsdl:fault message="tns:SOAPException" name="SOAPException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="test2">
<wsdl:documentation>popis k metode</wsdl:documentation>
      <wsdl:input message="tns:test2" name="test2">
    </wsdl:input>
      <wsdl:output message="tns:test2Response" name="test2Response">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="divide">
      <wsdl:input message="tns:divide" name="divide">
    </wsdl:input>
      <wsdl:output message="tns:divideResponse" name="divideResponse">
    </wsdl:output>
      <wsdl:fault message="tns:AirserviceFault" name="AirserviceFault">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TestServiceServiceSoapBinding" type="tns:TestService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="test">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="test">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="testResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="testException">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="testException">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="testExceptionResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SOAPException">
        <soap:fault name="SOAPException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="test2">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="test2">
        <soap:header message="tns:test2" part="arg0" use="literal">
        </soap:header>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output name="test2Response">
        <soap:header message="tns:test2Response" part="arg0" use="literal">
        </soap:header>
        <soap:body parts="result" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="divide">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="divide">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="divideResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="AirserviceFault">
        <soap:fault name="AirserviceFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TestServiceService">
    <wsdl:port binding="tns:TestServiceServiceSoapBinding" name="TestServicePort">
      <soap:address location="http://localhost:8080/airservice-1.0/jaxws/services/TestService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
